- if notes.present?
  %ul#notes
    - notes.each do |note|
      %li{"data-url" => note_path(note)}
        = content_tag :div, note.title, class: 'note-title'
        = content_tag :div, note.body_html.to_s.html_safe, class: 'note-body'
